<br />
<h2 class="page-title-text">Edit Clinics</h2>
<br />
<form id="clinic-edit-form">
    <fieldset>
        <legend><strong>Update Clinics</strong></legend>
        <table>
            <th>Update Clinic Information Below:</th>
            <tr>
                <td><label for="updateClinicID">Clinic ID: </label> <input type="text" name="clinicID" value="{{result.clinicID}}" readonly></td>
            </tr>
            <tr>
                <td><label for="updateClinicAddress">Clinic Address: </label> <input type="text" value="{{result.address}}" name="address"></td>
            </tr>
            <tr>
                <td><label for="updateClinicEmail">Clinic Email: </label> <input type="email" value="{{result.email}}" name="email"></td>
            </tr>
            <tr>
                <td><label for="updateClinicPhoneNumber">Clinic Phone Number: </label> <input type="text" value="{{result.phoneNumber}}" name="phoneNumber"></td>
            </tr>

        </table>
        <div>
            <input type="submit" value="Save Changes">
            <input type="button" value="Cancel" onclick="window.location = '/Clinics'">
        </div>
    </fieldset>
</form>
<script>
document.getElementById('clinic-edit-form').addEventListener('submit', function (event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData.entries());
    API_UpdateClinic(data.clinicD, data.address, data.email, data.phoneNumber);
    window.location = "/Clinics";
});
</script>