<style>
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-message {
    width: 50%;
    font-size: 20pt;
}
</style>
<div class="home-container">
    <br />
    <br />
    <h1 class="home-message">
        Welcome to Digital Pharma, where you go to to meet your Online Prescription Manangement Needs.
        Digital Pharama is the furture of prescription manangement with simple, streamlined, and stable service that
        wil quickly become the backbone of great patient care!
    </h1>
</div>